<!DOCTYPE html>
<html>
  <head>
    <title>Dohtar</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Dohtar</h1>
    <p>Pozdravljeni v virtualni ambulanti, kjer vam ponujamo nasvete s pomoÄjo umetne inteligence.</p>
    <form action="/dohtar" method="get">
      <button class="izbor_button">Izberi zdravnika</button>
    </form>
  </body>
</html>
