<!DOCTYPE html>
<html>
  <head>
    <title>Dohtar - React Backend</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Dohtar</h1>
    <p>Pozdravljeni v virtualni ambulanti, kjer vam ponujamo nasvete s pomoÄjo umetne inteligence. To je backend za React in React Native aplikacijo.</p>
  </body>
</html>
